{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SindApp - Gerenciamento Associados com Tecnologia</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<header class="topo-principal">
    <div class="container">
        <img src="{% static 'assets/logo_sem_fundo.png' %}" alt="Logo SindApp" width="15%">
        <nav class="menu">
            <a href="#">Início</a>
            <a href="#">Benefícios</a>
            <a href="#">Carteirinha</a>
        </nav>
    </div>
</header>
</html>
