{% load static %}  <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Associado - SindApp</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="topo-principal">
        <div class="container">
            <img src="{% static 'assets/logo_sem_fundo.png' %}" class="logo" alt="Logo SindApp">
            <nav class="menu">
                <a href="#">Início</a>
                <a href="#">Benefícios</a>
                <a href="#">Carteirinha</a>
            </nav>
        </div>
    </header>

    <main class="container">
        <h1 style="margin-top: 20px;">Aqui é o Perfil</h1>
        <p>Bem-vindo ao painel do associado.</p>
    </main>

</body>
</html>